# -------------------------------
# Files Exclusion
# -------------------------------

/*
Config/*
Core/*

# -------------------------------
# Files Keep
# -------------------------------

!.gitignore
!.htaccess

!LICENSE
!README.md

!/Config/configBundle.php
